<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/index.css" />
  <title>记事本</title>
</head>

<body>

  <!-- 主体区域 -->
  <section id="app">
    <!-- 输入框 -->
    <header class="header">
      <h1>小黑记事本</h1>
      <input placeholder="请输入任务" class="new-todo" v-model="todo" />
      <button class="add" @click="todoList.push(todo);todo=''">添加任务</button>
    </header>
    <!-- 列表区域 -->
    <section class="main">
      <ul class="todo-list">
        <li class="todo" v-for="(item, idx) in todoList">
          <div class="view">
            <span class="index">{{idx+1}}</span><label>{{item}}</label>
            <button class="destroy" @click="del(item)"></button>
          </div>
        </li>
      </ul>
    </section>
    <!-- 统计和清空 -->
    <footer class="footer">
      <!-- 统计 -->
      <span class="todo-count">合 计:<strong>{{todoList.length}}</strong></span>
      <!-- 清空 -->
      <button class="clear-completed" @click="todoList=[]">
        清空任务
      </button>
    </footer>
  </section>

  <!-- 底部 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  <script>

    const app = new Vue({
      el: '#app',
      data: {
        todoList: ['吃饭', '200个ollie', '背单词', '学vue'],
        todo: '',
      },
      methods: {
        del(item) {
          this.todoList = this.todoList.filter(todo => todo != item)
        }
      }
    })

  </script>
</body>

</html>